@page
@model MyWatchlist.Pages.Symbols.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Symbol</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol.SymbolName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol.SymbolName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol.Instrument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol.Instrument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol.EntryPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol.EntryPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol.ExitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol.ExitPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Symbol?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
